//--------------------------------------------------
// Reset
// -------------------------------------------------

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
}

.skip,
.a11y {
  left: -1000em;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
}

/*---------------------------*/
/*-------- Site styles ------*/
/*---------------------------*/
/* TODO: Clean this up to make modular */

* { box-sizing: border-box; moz-box-sizing: border-box; }
html {
    height: 100%;
}

body {
    color: black;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    margin: 0;
    min-height: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a {
  color: #4A90E2;
}

a:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
  padding: 2em 1em;
}

@media (min-width: 30em) {

  p {
    font-size: 1.2em;
  }
}

/* LOGO from the splash page, keep for now */

.bar-open {
  position: relative;
}

.open {
    bottom: 5px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
}

.bar {
    background: #e6008c;
    bottom: .06em;
    display: block;
    height: .9em;
    left: -.15em;
    margin: auto;
    position: absolute;
    width: 102%;
    z-index: 0;
}

/*--------------------------------*/
/*--- Universal Bocoup Footer ---*/
/*-------------------------------*/

footer {
  color: #4f4f4f;
  border: solid transparent;
  border-width: 0 0 10px 0;
  -webkit-border-image: url(https://static.bocoup.com/assets/img/rainbow-header.svg.gz) 4 1 4 1 stretch;
  -moz-border-image: url(https://static.bocoup.com/assets/img/rainbow-header.svg.gz) 4 1 4 1 stretch;
  -o-border-image: url(https://static.bocoup.com/assets/img/rainbow-header.svg.gz) 4 1 4 1 stretch;
  border-image: url(https://static.bocoup.com/assets/img/rainbow-header.svg.gz) 4 1 4 1 stretch;
}

footer p {
  font-size: 1em;
}

@media (min-width: 52em) {

  footer .wrapper {
    padding: 3em 4em;
  }

  .bocoup-logo {
    float: left;
    margin: .5em 2em 0 0;
  }

 }

 /*----------------------------*/
 /*--- Sticky footer ----------*/
 /*----------------------------*/

 header {
     -webkit-flex: 1 0 auto;
     -ms-flex: 1 0 auto;
     flex: 1 0 auto;
 }

 /* Added while trying to get content to show up */
 .methods {
     color: #000;
 }


/*-------------------------------*/
/*---------- Tabs ---------------*/
/*-------------------------------*/
/* Taken from frend.co */
 /* Container */
.fr-tabs {
}

/* Tablist */
.fr-tabs__tablist {
}

.fr-tabs--is-ready .fr-tabs__tablist-item {
	display: inline;
}

.fr-tabs__tab {
}
.fr-tabs__tab[tabindex="0"] {
}

/* Tabpanel */
.fr-tabs__panel {
}
.fr-tabs__panel[aria-hidden="true"] {
	display: none;
}

/*--------------------------------------------*/
/*---------- Cards for methods ---------------*/
/*--------------------------------------------*/

.method-list {
    margin: 0;
    padding: 0;
}

.method-list:after {
    clear: both;
    content: "";
    display: table;
}

.method-list-item {
    border: 1px solid #999;
    border-radius: .25em;
    float: left;
    margin-bottom: 2em;
    margin-left: 2%;
    height: 200px;
    padding: .5rem;
    width: 45%;
}

.method-list-item:first-child {
    margin-left: 0;
}

.method-list-item:nth-child(2n +1) {
    clear: left;
    margin-left: 0;
}

@media (min-width: 40em) {
    .method-list-item {
        width: 31%;
    }

    .method-list-item:nth-child(2n +1) {
        clear: none;
        margin-left: 2%;
    }

    .method-list-item:nth-child(3n +1) {
        clear: left;
        margin-left: 0;
    }
}
