<!doctype html>
{% assign language = site.i18n | where: 'lang', 'pt-br' -%}
{% assign i18n = language[0] -%}
<html lang="{{i18n.lang}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <meta name="twitter:creator" content="@bocoup">
    <meta name="twitter:site" content="@bocoup">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Open Design Kit: methods for doing distributed design">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:image" content="http://opendesignkit.org/img/odk-twittercard.jpg">

  </head>
  <body class="{{page.type}}">
      <a class="a11y" href="#main">{{ i18n.skip | default: 'skip to content' }}</a>
        <div class="content">
            <header class="site-header" role="banner">
                <div class="site-header-wrapper">
                    <div class="site-logo">
                        <h1 class="logo"><a class="logo-link" href="/">{{ site.title }}</a></h1>
                    </div>
                    <nav role="navigation" class="site-nav">
                        <ul class="site-nav-list">
                            <li class="site-nav-list-item">
                                <a class="site-nav-list-link"
                                    title="{{ i18n.contribute.title | default: 'Contribute to Open Design Kit' }}'"
                                    href="{{ i18n.contribute.link | default: '/contribute' }}'">
                                    {{ i18n.contribute.text | default: 'Contribute' }}
                                </a>
                            </li>
                            <li class="site-nav-list-item">
                                <a class="site-nav-list-link"
                                    title="{{ i18n.about.title | default: 'About Open Design Kit' }}'"
                                    href="{{ i18n.about.link | default: '/about' }}'">
                                    {{ i18n.about.text | default: 'About' }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            {% if page.type != null %}
            <div class="home-header-sub">
                <div class="site-tag">
                    <h2 class="hed-a site-tag">{{ i18n.site-tag | default: 'A distributed team can do great design &mdash; here’s how.' }}</h2>
                </div>
                <div class="filter">
                    <div class="filter-label">{{ i18n.filter-label | default: 'Browse by Design Phase:' }}</div>
                    <ul class="filter-buttons">
                        <li><a href="{{ i18n.phases.discover.link | default: '/phases/discover.html' }}" class="{% if page.current == 'discover' %}current {% endif %}filter-button discover">
                            {{ i18n.phases.discover.text | default: 'Explore' }}
                        </a></li>
                        <li><a href="{{ i18n.phases.define.link | default: '/phases/define.html' }}" class="{% if page.current == 'define' %}current {% endif %} filter-button define">
                            {{ i18n.phases.define.text | default: 'Define' }}
                        </a></li>
                        <li><a href="{{ i18n.phases.design.link | default: '/phases/design.html' }}" class="{% if page.current == 'design' %}current {% endif %}filter-button design">
                            {{ i18n.phases.design.text | default: 'Make' }}
                        </a></li>
                        <li><a href="{{ i18n.phases.develop.link | default: '/phases/develop.html' }}" class="{% if page.current == 'develop' %}current {% endif %}filter-button develop">
                            {{ i18n.phases.develop.text | default: 'Validate' }}
                        </a></li>
                        {% if page.current %}
                        <li><a href="{{ i18n.phases.all-methods.link | default: '/' }}" class="filter-button return">
                                {{ i18n.phases.all-methods.text | default: 'All Methods' }}
                        </a></li>
                        {% endif%}
                    </ul>
                </div>
            </div>
            {% endif %}
            <div id="main">
                {{ content }}
            </div>
        </div>
      <footer role="contentinfo">
        <div class="wrapper">

          <picture class="bocoup-logo">
            <source media="(min-width: 20em)"
              srcset="/img/bocoup.png 1x, /img/bocoup-2x.png 2x">
            <img src="/img/bocoup.png" alt="">
          </picture>
          <p>
              {{ i18n.footer-desc | default: '<a href="https://bocoup.com">Bocoup</a> maintains Open Design Kit as an open source tool. To share your feedback, open an issue or a pull request on our <a href="https://github.com/bocoup/opendesignkit">GitHub repository</a>.' }}
          </p>
        </div>
      </footer>
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-1464992-57', 'auto');
          ga('send', 'pageview');

      </script>
  </body>
 </html>
