<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Open Design Kit</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body class="{{page.type}}">
        <div class="content">
            <header class="site-header" role="banner">
                <div class="site-header-wrapper">
                    <div class="site-logo">
                        <h1 class="logo"><a class="logo-link" href="/">Open Design Kit</a></h1>
                    </div>
                    <nav role="navigation" class="site-nav">
                        <ul class="site-nav-list">
                            <li class="site-nav-list-item"><a class="site-nav-list-link" title="Contribute" href="/contribute">Contribute</a></li>
                            <li class="site-nav-list-item"><a class="site-nav-list-link" title="About" href="/about">About</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            {% if page.type != null %}
            <div class="home-header-sub">
                <div class="site-tag">
                    <h2 class="hed-a site-tag">A distributed team can do great design &mdash; here’s how.</h2>
                </div>
                <div class="filter">
                    <div class="filter-label">Browse by Design Phase:</div>
                    <ul class="filter-buttons">
                        <li><a href="/phases/discover.html" class="filter-button discover">Discover</a></li>
                        <li><a href="/phases/define.html" class="filter-button define">Define</a></li>
                        <li><a href="/phases/design.html" class="filter-button design">Design</a></li>
                        <li><a href="/phases/develop.html" class="filter-button develop">Develop</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
            {{ content }}
        </div>
      <footer role="contentinfo">
        <div class="wrapper">

          <picture class="bocoup-logo">
            <source media="(min-width: 20em)"
              srcset="/img/bocoup.png 1x, /img/bocoup-2x.png 2x">
            <img src="/img/bocoup.png" alt="">
          </picture>
          <p>
              Bocoup maintains Open Design Kit as an open source tool. To share your feedback, open an issue or a pull request on our <a href="https://github.com/bocoup/opendesignkit">Github repository</a>.
          </p>
        </div>
      </footer>
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-1464992-57', 'auto');
          ga('send', 'pageview');

      </script>
  </body>
 </html>
