---
layout: default
---
<section class="method-content">
    <h1 class="hed-a">{{ page.title }}</h1>
    <hr />
    <p>Contributors: {{ page.contributors }}</p>
    <p>{{ page.teaser }}</p>
    {% if page.toolsDesc != blank %}
        <div class="tools">
            <p>{{ page.toolsDesc }}</p>
            <ul class="tools-list">
                {% for tool in page.tools %}
                    <li class="tools-list-item">{{ tool }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {{ content }}
</section>
