---
layout: default
type: method
---
<section class="method-content">
    <h1 class="hed-a">{{ page.title }}</h1>
    <p>Contributors: {{ page.contributors }}</p>
    <p>{{ page.desc }}</p>
    {% if page.toolsDesc != null %}
        <div class="tools">
            <h3 class="tools-hed">Tools</h3>
            <ul class="tools-list">
                {% for tool in page.tools %}
                    <li class="tools-list-item">{{ tool }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {{ content }}
</section>
